ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #424141;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    color: #ccffff;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #7b68ee;
    color: #ccffff;
}

:focus {
    background-color: #008000;
    color: #ffffff;
}