@font-face { 
    font-family: myFont; 
    src: url('Montserrat-Medium.ttf');  
}

body {
    background-color: #ccffff;
}

#blueheading {
    color:#0000ff;
}

blockquote {
    font-family: myFont, serif;
}

p + p { text-indent: 2em; }

#firstparagraph::first-letter { 
    font-weight: bold;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.shell {
    display: grid;
    grid-template-areas: "nav nav"
                         "heading0 content0"
                         "heading1 content1"
                         "heading2 content2"
                         "heading3 content3"
                         "footer footer";
    grid-gap: 20px;
    justify-content: start;
    height: 100%;
}

.nav {
    grid-area: nav nav;
    grid-column-start: 1;
    grid-column-end: 6;
}

.heading0 {
    grid-area: heading0;
    grid-column-start: 1;
    grid-column-start: 1;
}

.content0 {
    grid-area: content0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.heading1 {
    grid-area: heading1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.content1 {
    grid-area: content1;
    grid-column-start: 2;
    grid-column-end: 3;
}

.heading2 {
    grid-area: heading2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.content2 {
    grid-area: content2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.heading3 {
    grid-area: heading3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.content3 {
    grid-area: content3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer {
    grid-area: footer footer;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
}

a {
    text-decoration: none;
    font-size: 24px;
    padding: 10px
}

footer {
    font-weight: bold;
    background-image: url(images/bgimage.jpg);
    background-size: cover;
    color: white;
}

footer {
    text-align: center;
}

.headshot {
    width: 300px;
    height: 300px;
    padding: 0px 40px;
    background-color: #ccffff;
}

img {
    background-color: white;
}

.pic {
    width: 17px;
    height: 17px;
    transition: transform 0.5s;
    margin: 0 auto;
}

.pic:hover {
    transform: scale(3);
}

.graphic {
    background-color: #ccffff;
    width: 250px;
    height: 300px;
    padding: 0px 40px;
}

.thumb {
    background-color: #ccffff;
    width: 250px;
    height: 300px;
}

thead,
tfoot {
    background-color: blue;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: separate;
}

th, td {
    padding: 5px;
}

table {
    width: 300px;
}

th, caption {
    text-align: left;
}

tbody td:nth-of-type(odd) {
    background-color: green;
}

tbody td:nth-of-type(even) {
    background-color: purple;
}

textarea {
    resize: none;
}

form {
    margin-left: 100px;
}

#email {
    margin-left: 50px;
}

#lastname {
    margin-left: 2px;
}

#firstname,
#lastname,
#email {
    width: 50%;
}

#message {
    width: 75%;
}

nav,
footer {
    width: 100%;
}

.heading0,
.heading1,
.heading2,
.heading3 {
    margin-left: 5px;
}

@media (max-width: 700px) {
    body {
        font-size: 12px;
    }
    table {
        width: 200px;
    }
    th, td {
        font-size: 12px;
        padding: 2px;
    }
    form {
        margin-left: 50px;
    }
    #lastname {
        margin-left: 1px;
        width: 200px;
        font-size: 10px;
    }
    #firstname {
        margin-left: 0px;
        width: 200px;
        font-size: 10px;
    }
    #email {
        margin-left: 25px;
        width: 200px;
        font-size: 10px;
    }
    #message {
        width: 50%;
        height: 100px;
        margin-left: 55px;
        font-size: 10px;
    }
    .headshot {
        width: 150px; 
        height: 150px;
        margin-left: 0px;
    }
    .shell {
        grid-gap: 0px;
    }
    .graphic,
    .thumb {
        width: 20%;
        height: 20%;
    }
}

@media (min-width: 701px) {
    body {
        font-size: 24px;
    }
    table {
        width: 300px;
    }
    th, td {
        font-size: 24px;
        padding: 5px;
    }
    form {
        margin-left: 100px;
    }
    #lastname {
        margin-left: 2px;
        width: 50%;
        font-size: 18px;
    }
    #firstname {
        margin-left: 0px;
        width: 50%;
        font-size: 18px;
    }
    #email {
        margin-left: 50px;
        width: 50%;
        font-size: 18px;
    }
    #message {
        width: 75%;
        height: 150px;
        margin-left: 112px;
        font-size: 18px;
    }
    .headshot {
        width: 300px; 
        height: 300px;
    }
    .shell {
        grid-gap: 20px;
    }
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    nav,
    img {
        display: none;
    }
    header {
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    a[href^="http:"]::after {
        content: " [' attr(href)']";
        color: blue;
    }
    @page {
        margin: 1in;
        margin-top: 0.5in;
    }
    h2, h3, ul {
        page-break-after: avoid;
    }
    p, ul {
        orphans: 3;
        widows: 3;
        font-size: 10pt;
    }
    h1, h2, h3 {
        font-size: 16pt;
    }
}
